@for $i from 1 through 100 {
  .height-#{$i} {
    height: ($i * 1vh);
    min-height: ($i * 1vh);
  }
  .height {
    &-min-#{$i} {
      min-height: ($i * 1vh);
    }

    &-pc-#{$i} {
      height: ($i * 1%);
    }

    &-tablet-xs-#{$i} {
      @include max-mobile-xlg {
        height: ($i * 1vh);
        min-height: ($i * 1vh);
      }
    }

    &-mobile-xlg-#{$i} {
      @include max-mobile-xlg {
        height: ($i * 1vh);
        min-height: ($i * 1vh);
      }
    }

    &-mobile-lg-#{$i} {
      @include max-mobile-lg {
        height: ($i * 1vh);
        min-height: ($i * 1vh);
      }
    }

    &-min-tablet-xs-#{$i} {
      @include max-mobile-xlg {
        min-height: ($i * 1vh);
      }
    }

    &-min-mobile-xlg-#{$i} {
      @include max-mobile-xlg {
        min-height: ($i * 1vh);
      }
    }

    &-min-mobile-lg-#{$i} {
      @include max-mobile-xlg {
        min-height: ($i * 1vh);
      }
    }
  }

  .width-#{$i} {
    width: ($i * 1vw);
    min-width: ($i * 1vw);
  }
  .width {
    &-pc-#{$i} {
      width: ($i * 1%);
      min-width: ($i * 1%);
    }

    &-pc-min-#{$i} {
      width: ($i * 1%);
      min-width: ($i * 1%);
    }

    &-min-#{$i} {
      min-width: ($i * 1vw);
    }

    &-max-content {
      width: max-content;
    }

    &-min-content {
      width: min-content;
    }
  }

}


.grid {
  display: grid;

  &-box {

  }
}

.clearfix {
  display: inline-block;

  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

@include max-tablet-md {
  .mobile {
    &-first {
      order: 1;
    }

    &-second {
      order: 2;
    }
  }
}


@for $i from 1 through 99999 {
  .z-index-#{$i} {
    z-index: ($i * 1);
  }
}
