/*============================================
DO NOT CHANGE!!!
=============================================*/

$overlay: (
        '10': 0.1, '20': 0.2, '30': 0.3, '40': 0.4, '50': 0.5, '60': 0.6, '70': 0.7, '80': 0.8, '90': 0.9
);

@each $color-name, $color-value in $color-pallete {
  .text-#{$color-name} {
    color: $color-value !important;
  }
  .border-#{$color-name} {
    border-color: $color-value;
  }

  .#{$color-name} {
    background-color: $color-value !important;
  }

  .btn-#{$color-name} {
    background-color: $color-value;
    line-height: initial;

    &:hover, &:focus, &:active {
      outline: none;
      text-decoration: none;
    }
  }

  .bg {
    @each $overlay-name, $overlay-value in $overlay {
      &-overlay-#{$color-name}-#{$overlay-name} {
        background: rgba($color-value, $overlay-value);
      }
    }

    &-#{$color-name} {
      background: $color-value;
    }

  }
}
