.header {
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  padding:7px;

  &-navigation {
    ul {
      display: inline-flex;
      list-style: none;
      margin-left: -40px;

      li {
        a {
          margin: 0 10px;
          text-transform: uppercase;
          letter-spacing: 3px;
          font-size: 0.9rem;
        }
      }
    }
  }
}